{% import "auth/macros.html" as auth %}

<form role="form" action="" method="post" class="form-horizontal">
    {{ form.hidden_tag() if form.hidden_tag }}
    <fieldset>
        {# 用户名 #}
        {{ auth.render_field(form, form.username) }}
        {# 密码 #}
        {{ auth.render_field(form, form.password) }}
        {# 验证码 #}
        {% if show_verify_code %}
            {{ auth.verify_code(form) }}
        {% endif %}

        <div class="form-group">
            <div class="col-md-4 col-md-offset-3">
                <div class='checkbox' style="margin-top: 0; padding-top: 0;">
                    <label>
                        <input name="remember" type="checkbox" value="Remember Me">记住我
                    </label>
                </div>
            </div>
            <div class="col-md-5 text-left" style="margin-right: 0; padding-right: 0;">
                {% if register_link %}
                    {{ register_link|safe }}
                {% endif %}
            </div>
        </div>
        <input type="submit" class="btn btn-lg btn-block btn-success" value="登录"/>
    </fieldset>
</form>
