{% import "auth/macros.html" as auth %}

<form role="form" action="" method="post" class="form-horizontal">
    {% set show_label = config.get('LOGIN_FORM_LABEL_SHOW') == true %}
    {{ form.hidden_tag() if form.hidden_tag }}
    <fieldset>
        {# 用户名 #}
        {{ auth.render_field(form, form.username) }}
        {# 密码 #}
        {{ auth.render_field(form, form.password) }}
        {# 确认密码 #}
        {{ auth.render_field(form, form.comfirm_password) }}

        {# 验证码 #}
        {% if config.get('LOGIN_FORM_VERIFY_CODE_ENABLE') == true %}
            {{ auth.verify_code(form, show_label) }}
        {% endif %}

        <div class="form-group">
            <div class="col-md-12 text-right">
                {% if link %}
                    {{ link|safe }}
                {% else %}
                    {# <a href="{{ url_for('login') }}">已有帐号？请登录。</a> #}
                    <a href="/auth/login">已有帐号？请登录。</a>
                {% endif %}
            </div>
        </div>

        <input type="submit" class="btn btn-lg btn-block btn-success" value="注册"/>
    </fieldset>
</form>
