[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-wtf = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
