{% extends 'admin/master.html' %}
{% from 'macros/nav.html' import render_nav_item %}


{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-2">
            {# <div class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical"> #}
            <div class="nav nav-pills nav-stacked">
                {% for item in admin_view.get_sider_items() %}
                    {{ render_nav_item(item[1], item[0], use_li=True) }}
                {% endfor %}
            </div>
        </div>
        <div class="ol-lg-10  col-md-10">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}
