{% extends 'admin/model/details.html' %}

{% block details_table %}

    {{ super() }}
    <div class="col-md-offset-2 col-md-10 submit-row">
        <form action="{{ url_for('.copy_and_create', id=model.id) }}" method="POST" style="margin-left: 5px; float:left;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-default"
             {# onclick="return confirm('确定要复制并新建吗？')" #}
             >
            复制并新建
            </button>
        </form>
    </div>
{% endblock %}
