{% macro edit_link(value, endpoint) %}
    {% if value.can_edit %}
        <a href="{{ url_for(endpoint + '.edit_view', id=value.id, url=request.url) }}" target="_blank"><span class="fa fa-pencil glyphicon glyphicon-pencil"></span></a>
    {% endif %}
{% endmacro %}

{% macro detail_link(value, endpoint) %}
    {% if value.can_view_details %}
        <a href="{{ url_for(endpoint + '.details_view', id=value.id, url=request.url) }}" target="_blank"><span class="fa fa-eye glyphicon glyphicon-eye-open"></span></a>
    {% endif %}
{% endmacro %}

<a style='cursor:help' data-toggle='popover'
   title='{{ title }} <span class="object-ref-link">{{ edit_link(value, endpoint) }}&nbsp;&nbsp;{{ detail_link(value, endpoint) }}</span>'
   data-content='{% include "components/object_ref_content.html" %}'>
   [ {{ title }} ]
</a>
