{% macro edit_link(value, endpoint) %}
    {% if value.can_edit %}
        <a href="{{ url_for(endpoint + '.edit_view', id=value.id, url=request.url) }}" target="_blank"><span class="fa fa-pencil glyphicon glyphicon-pencil"></span></a>
    {% endif %}
{% endmacro %}

{% macro detail_link(value, endpoint) %}
    {% if value.can_view_details %}
        <a href="{{ url_for(endpoint + '.details_view', id=value.id, url=request.url) }}" target="_blank"><span class="fa fa-eye glyphicon glyphicon-eye-open"></span></a>
    {% endif %}
{% endmacro %}

<a style='cursor:help' data-toggle='popover'
   title='{{ title }} <span class="object-ref-link">{{ edit_link(value, endpoint) }}&nbsp;&nbsp;{{ detail_link(value, endpoint) }}</span>'
   data-content='<table class="object-ref-header-table table table-responsive table-striped table-condensed table-condensed">
   <tr><th colspan="2">基本信息</th></tr>
    {% for f in header %}
        <tr><td>{{ f.label }}</td><td>{{ f.value or ' ' }}</td></tr>
    {% endfor %}
    </table>
{% if detail_labels|length > 0 %}
    <table class="object-ref-line-table table table-striped table-bordered table-hover table-condensed">
    <tr><th colspan="{{ detail_labels|length }}">行信息</th></tr>
    <tr>
        {% for label in detail_labels %}<th>{{ label }}</th>{% endfor %}
    </tr>
        {% for line in detail_lines %}
            <tr>{% for field in line %}<td>{{ field or ' ' }}</td>{% endfor %}</tr>
        {% endfor %}
    </table>
{% endif %}'>[ {{ title }} ]</a>
